@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@200;400;700&family=Asul&display=swap');

@layer base {
  body {
    background: #F4F7F7;

  }

  * {
    font-family: 'Montserrat', sans-serif;
    font-variant-numeric:lining-nums;
    margin:0;
  }

  button {
    @apply border border-[#182322] rounded-xl px-3 py-1
  }

  h1 {
    font-weight:700;
  }

  li {
    color:#182322;
  }

  li:hover {
    color:#558A76;
  }

  input {
    color:#182322;
  }

  .serife {
    font-family: 'Asul', sans-serif;
  }

  .navbar {
    background: linear-gradient(180deg, rgba(16, 23, 23, 1) 0%, rgba(16, 23, 23, 0.75) 99%);
    backdrop-filter: blur(2.5px);
  }
}
